.referral-state0 {
  visibility: hidden;
}
.referral-state1 {
  color: #1eefa4;
  border-color: #1eefa4;
}
.referral-state2 {
  color: #f6f6f6;
  border-color: #f6f6f6;
}
.referral-state3 {
  color: #ffcc17;
  border-color: #ffcc17;
}
.referral-state4 {
  color: #efefcd;
  border-color: #efefcd;
}
